<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buaa.backkom.cloud.dao.ScoreDao">

    <resultMap id="UserResultMap" type="com.buaa.backkom.cloud.entities.User">
        <id column="student_id" property="id" jdbcType="BIGINT"></id>
        <id column="password" property="password" jdbcType="VARCHAR"></id>
        <id column="name" property="name" jdbcType="VARCHAR"></id>
        <id column="type" property="type" jdbcType="VARCHAR"></id>
    </resultMap>
    <select id="getUserById"  parameterType="Long" resultMap="UserResultMap">
        select * from user where student_id=#{id}
    </select>

    <resultMap id="ClassResultMap" type="com.buaa.backkom.cloud.entities.Class">
        <id column="class_id" property="class_id" jdbcType="BIGINT"></id>
        <id column="teacher_id" property="teacher_id" jdbcType="BIGINT"></id>
        <id column="name" property="name" jdbcType="VARCHAR"></id>
    </resultMap>
    <select id="getClassById"  parameterType="Long" resultMap="ClassResultMap">
        select * from class where teacher_id=#{id}
    </select>

    <resultMap id="ScoreResultMap" type="com.buaa.backkom.cloud.entities.Score">
        <id column="class_id" property="class_id" jdbcType="BIGINT"></id>
        <id column="student_id" property="stu_id" jdbcType="BIGINT"></id>
        <id column="score" property="score" jdbcType="DOUBLE"></id>
        <id column="class_name" property="class_name" jdbcType="VARCHAR"></id>
        <id column="stu_name" property="stu_name" jdbcType="VARCHAR"></id>
    </resultMap>
    <select id="getScoreByClass"  parameterType="Long" resultMap="ScoreResultMap">
        select score.class_id,score.student_id,score,class.name as class_name,user.name as stu_name from class,score,user where score.student_id=user.student_id and score.class_id=class.class_id and score.class_id=#{id}
    </select>
    <select id="getScoreByStudent"  parameterType="Long" resultMap="ScoreResultMap">
        select score.class_id,score.student_id,score,class.name as class_name,user.name as stu_name from class,score,user where score.student_id=user.student_id and score.class_id=class.class_id and score.student_id=#{id}
    </select>

    <update id="updateScore">
        update score
        <set>
            score=#{score}
        </set>
        where student_id=#{stu_id} and class_id=#{class_id}
    </update>
</mapper>

